<!--
<div class="container-fluid" style="padding: inherit;">
<div [class]="nav"   style="padding: inherit;" #topnav>
    <a routerLink="/home" ><i class='fas fa-home'></i>Home</a>
    <a routerLink="/login" class="navright">log-in<i class="fa fa-user-circle"></i></a>
   
    <a routerLink="/signup" class="navright">Sign-Up</a>
   
    <a routerLink="/cart" class="navright" (click)="cartupdate()">cart<i class='fas fa-shopping-cart'></i><span class="badge badge-secondary">{{cartno}}</span></a>
    <a routerLink="/Product" class="navright">Products</a>
    
    <a  class="icon" (click)="myFunction(topnav)">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
-->