.item:hover{
    
    height: 90%;
    width: 100%;
    margin: auto;
    
}
.item{
    height: 80%;
     background-color: rgb(255, 255, 255);
      margin: 2vw;
      padding: 2vw;
      padding-left: 6vw;
}

.changecolor{
    color: red;
}